@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background: #03003F;
  line-height: 1.5;
}

main {
    background: #03003F;
}

p, span {
  color: #fff;
  font-family: 'Oswald', sans;
}

.parent {
  font-family: 'Titillium Web', sans;
  background: #03003F;
  position: relative;
  color: #fff;
  left: 0;
  top: 0;
  z-index: 1000;
}

.child {
  font-family: 'Titillium Web', sans;

  transition: all .1s ease;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.parent:hover > .child2 {
  font-family: 'Titillium Web', sans;
  transform: translate(.03em, .03em);
  display: block;
  color: #00FFF2;
    z-index: 3;
}

.parent:hover > .child3 {
  font-family: 'Titillium Web', sans;
  transform: translate(-.03em, -.03em);
  display: block;
  color: #FF0000;
    z-index: 3;
}

.parent:hover > .child4 {
  font-family: 'Titillium Web', sans;
  transform: translate(0em, 0em);
  display: block;
  color: #fff;
    z-index: 6;
}
